* {
    box-sizing: border-box;
  }
  
  body {
    display: flex;
    justify-content: center;
    align-items: center;
    background: hsl(0, 0%, 10%);
  }
  
  .circle {
    position: relative;
    height: 70vmin;
    width: 70vmin;
    filter: url(#wavy) blur(1px);
  }
  
  .circle::before {
    content: "";
    position: absolute;
    top: 10vmin;
    left: 10vmin;
    right: 10vmin;
    bottom: 10vmin;
    border: 2vmin solid hsl(0, 0%, 100%);
    border-radius: 50%;
    box-shadow: 0 0 5vmin hsl(30, 100%, 50%), inset 0 0 5vmin hsl(30, 100%, 50%);
  }
  